<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Yêu cầu đặt lại mật khẩu</h2>
    <ul>
        <li><p th:text="'Xin chào ' + ${name} + ','"></p></li>
        <li><p th:text="${fromName} + ' đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn'"></p></li>
        <p>Nếu bạn không thực hiện yêu cầu này thì vui lòng bỏ qua email này.</p>
        <br>
        <p>Để đặt lại mật khẩu của bạn, hãy nhấp vào nút bên dưới</p>
        <p><a th:attr="target=${'self'}" th:href="${url} ">Đặt lại mật khẩu</a></p>
        <p>Hoặc copy đường dẫn này vào trình duyệt để thay đổi mật khẩu của bạn: <span th:text="${url}"></span></p>
    </ul>

</body>
</html>